:root{
    --color-light-blue: #64FFDA;
    --color-dark-blue: #0a1a24;
    /* --color-dark-blue: #1E4F6F; */
    --color-light-gray: #E7EEF5;
    --color-dark-gray: #98A6B4;
    --color-strange-grey: #D0DEEB;
    --font-mono: 'IBM Plex Mono', monospace;
    --font-rubik: 'Titillium Web', sans-serif;
    --fz-lg: 1.8rem;
}

body {
    background-color: var(--color-dark-blue);
    font-family: var(--font-mono);
}

header {
    height: 80px;
    width: 100vw;
    position: fixed;
    z-index: 20;
}

.icons_container {
    height: 80px;
    width: 100vw;
    position: absolute;
    backdrop-filter: blur(4px);
}

.header_logoCris,
.logoCris_borde,
.logoCris_letra{
    z-index: 20;
}
.logoCris_borde {
    background-color: #00000000;
    border: 2px solid var(--color-light-blue);
    padding: 5px;
    width: 40px;
    height:40px;
    border-radius: 7px;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    left: 20px;
}
.logoCris_letra {
    color: var(--color-light-blue);
    font-size: 3rem;
    font-weight: 400;
    transform: rotate(-45deg);
    position: relative;
    top: -10px;
    left: 2px;
}

.header_menu--button {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 20px;
    top: 20px;
    background: transparent;
}

.menu_button--icon::before {
    position: relative;
    content: "";
    display: block;
    top: -10px;
    left: -6px;
    background: var(--color-light-blue);
    width: 36px;
    height: 2px;
}

.menu_button--icon {
    position: relative;
    top: 0px;
    background: var(--color-light-blue);
    width: 30px;
    height: 2px;
}

.menu_button--icon::after {
    position: relative;
    content: "";
    display: block;
    top: 8px;
    left: 6px;
    background: var(--color-light-blue);
    width: 24px;
    height: 2px;
}

.blur_menu {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(4px);
    height: 100vh;
    width: calc(100vw - 220px);
    z-index: 15;
    position: absolute;
    left: 100vw;
    display: block;
    transition: left 200ms linear;
    opacity: 0;
}

.responsive_menu {
    background: var(--color-dark-blue);
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.424);
    width: 220px;
    height: 100vh;
    position: absolute;
    right: -220px;
    z-index: 20;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 200ms linear;
}

.hide_menu--button::before {
    position: absolute;
    content: "";
    right: 0;
    background: var(--color-light-blue);
    width: 30px;
    height: 2px;
    transform: rotate(45deg);
}

.hide_menu--button {
    position: absolute;
    background: #00000000;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
}

.hide_menu--button::after {
    position: absolute;
    content: "";
    right: 0;
    background: var(--color-light-blue);
    width: 30px;
    height: 2px;
    transform: rotate(135deg);
}

.nav_list {
    padding-bottom: 30px;
    text-align: center;
    color: var(--color-light-gray);
}

.nav_list li a::before {
    display: block;
    color: var(--color-light-blue);
}

.nav_list li:nth-child(1) a::before {
    content: "01.";
}

.nav_list li:nth-child(2) a::before {
    content: "02.";
}

.nav_list li:nth-child(3) a::before {
    content: "03.";
}

.nav_list li:nth-child(4) a::before {
    content: "04.";
}

.nav_list li {
    margin-top: 30px;
    font-size: 2rem;
}

.responsive_menu--resume-button {
    background: var(--color-dark-blue);
    border: 2px solid var(--color-light-blue);
    color: var(--color-light-gray);
    border-radius: 5px;
    font-size: 2.5rem;
    padding: 5px 10px;
}

.introduction_container--section {
    width: 100%;
    /* background: url(https://mobimg.b-cdn.net/v3/fetch/40/40a2da8e2d75b7c772a71dcb0f8933e6.jpeg) center/cover no-repeat; */
    background-attachment: fixed;
}

.introduction_container {
    margin: auto;
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--font-rubik);
}

.introduction_greeting {
    color: var(--color-light-blue);
    font-size: var(--fz-lg);
    font-weight: 300;
}
.introduction_container h1 {
    color: var(--color-light-gray);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 100%;
    margin-top: 10px;
}

.introduction_phrase {
    color: var(--color-dark-gray);
    font-size: 3rem;
    font-weight: 600;
    line-height: 35px;
    margin: 10px 0 20px 0;
}

/* .introduction_text {
    color: var(--color-strange-grey);
    font-size: var(--fz-lg);
    font-weight: 200;
    line-height: 130%;
}

.introduction_text span {
    color: var(--color-light-blue);
    font-weight: 400;
} */

p {
    color: var(--color-strange-grey);
    font-size: var(--fz-lg);
    font-weight: 200;
    line-height: 130%;
    color: var(--color-strange-grey);
    font-family: var(--font-rubik);
    margin-bottom: 10px;
    align-self: flex-start;
}

p span {
    color: var(--color-light-blue);
    font-weight: 400;
}

.about_container--section {
    padding: 20px 0 50px 0;
}

/* Estilos generales para las secciones */
.div_section--container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos generales para h2 del contenido main*/
.main_subtitles {
    color: var(--color-light-gray);
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    margin-bottom: 20px;
    word-spacing: -0.2em;
    letter-spacing: -0.1rem;
    align-self: flex-start;
    width: 100%;
    white-space: nowrap;
    align-items: center;
}

.main_subtitles::before {
    color: var(--color-light-blue);
    margin-right: 3px;
    font-weight: 400;
    font-size: var(--fz-lg);
}

.main_subtitles::after {
    margin: 7px 0 7px 7px;
    position: relative;
    background: var(--color-dark-gray);
    opacity: 0.5;
    content: "";
    height: 1px;
    width: 100%;
    max-width: 200px;
}

.about_container h2::before {
    content: "01.";
}

/* estilos generales a los p del conetenido main */
/* .div_section--container p{
    color: var(--color-strange-grey);
    font-family: var(--font-rubik);
    font-size: var(--fz-lg);
    font-weight: 200;
    margin-bottom: 10px;
    align-self: flex-start;
} */

.about_container p span {
    color: var(--color-light-blue);
    font-weight: 400;
}

.about_container--image {
    position: relative;
    z-index: 1;
}

.about_container--image::after {
    border: 2px solid var(--color-light-blue);
    content: "";
    opacity: 1;
    height: 189px;
    width: 189px;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: -15px;
    z-index: -5;
}

.about_image--background{
    opacity: 1;
    height: 189px;
    width: 189px;
    background: var(--color-light-blue);
    border-radius: 3px;
    top: 0;
    position: absolute;
    opacity: .3;
    z-index: 5;
}

.about_container--image img {
    position: relative;
    display: block;
    object-fit: cover;
    height: 189px;
    width: 189px;
    border-radius: 3px;
    z-index: 1;
}

.skills_container--section {
    width: 100%;
    padding: 20px 0 0 0;
    /* background: url(https://img1.goodfon.com/original/1280x1024/1/c6/gory-les-noch-firewatch.jpg) center/cover no-repeat; */
    /* background: url(http://static-1.ivoox.com/audios/1/8/6/3/8171484603681_XXL.jpg) center/cover no-repeat; */
    /* background: url(https://cdn.pixabay.com/photo/2019/04/26/16/02/landscape-4157911_1280.jpg) center/cover no-repeat; */
    background-attachment: fixed;
}

.skills_container {
    min-height: 100vh;
}

.skills_container p {
    margin: 0;
}

.skills_container .main_subtitles::before {
    content: "02.";
}

.skills_technologies--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.skills_development,
.skills_tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 15px 30 15px;
}

.skills_subtitles {
    color: var(--color-light-gray);
    font-weight: 700;
    font-size: var(--fz-lg);
    display: flex;
    align-items: center;
}

.skills_subtitles span:nth-child(1),
.skills_subtitles span:nth-child(3),
.featuredProject_links--container a span{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.skills_development--subtitle span:nth-child(1){
    /* display: inline-block;
    width: 30px;
    height: 30px; */
    background: url(https://www.pikpng.com/pngl/b/111-1110093_development-icon-white-technical-white-icon-png-clipart.png)  center/cover no-repeat;
    /* margin-right: 10px; */
}

.skills_development--technologies {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

.skills_development--technologies div {
    border: 2px solid var(--color-light-blue);
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 100px;
    padding: 27px 0;
    text-align: center;
}

.skills_development--technologies div p {
    color: var(--color-light-gray);
    font-size: 1.5rem;
}

.skills_tools--subtitle {
    margin: 0 0 20px 0;
}

.skills_tools--subtitle span:nth-child(1) {
    background: url(https://www.hsenidmobile.com/wp-content/uploads/2015/09/tools-icon-white.png) center/cover no-repeat;
}

.skills_tools ul,
.featuredProject_technologies--list{
    color: var(--color-strange-grey);
    font-family: var(--font-rubik);
    font-size: var(--fz-lg);
    font-weight: 400;
    width: 100%;
}

.skills_tools ul li::before {
    content: "▹";
    display: inline-block;
    margin: 0 3px 0 0;
    color: var(--color-light-blue);
}
/* .skills_technologies img {
    width: 50px;
    margin: 10px;
} */

.work_container {
    margin-top: 40px;
    min-height: 100vh;
}

.work_container .main_subtitles::before {
    content: "03.";
}

.work_projectList .featuredProject_container {
    margin-bottom: 25px;
}

.featuredProject_container {
    padding: 25px;
    position: relative;
}

.featuredProject_titles .tag{
    color: var(--color-light-blue);
}

.featuredProject_titles .title--blue {
    color: var(--color-light-gray);
    font-size: 2rem;
    margin-bottom: 20px;
}

.featuredProject_titles .title--blue::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--color-dark-blue);
    opacity: .9;
    left: 0;
    top: 0;
    z-index: -5;
}

.featuredProject_technologies--list li {
    display: inline-block;
}

.featuredProject_links--container {
    margin-top: 20px;
}

.featuredProject_image {
    position: absolute;
    width: 99%;
    height: 99%;
    top: 1px;
    left: 1px;
    z-index: -10;
}

.featuredProject_container:nth-child(1) .featuredProject_image{
    background: url(https://mir-s3-cdn-cf.behance.net/projects/404/726f1a115332395.Y3JvcCwxOTIwLDE1MDEsMCww.jpg) center/cover no-repeat;
}

.featuredProject_container:nth-child(2) .featuredProject_image{
    background: url(https://castelloncreativa.com/wp-content/uploads/2020/02/Pinterest-Cover-De-Post-Del-Blog-Web-Design-Trends-1280x720px.jpg) center/cover no-repeat;
}

.featuredProject_container:nth-child(3) .featuredProject_image{
    background: url(https://files.expub.net/Content/Archive/47/programe-455497.jpg) center/cover no-repeat;
}